<div>
  <app-nav></app-nav>
</div>

<div class ="container">
<router-outlet></router-outlet>
</div>


<!--<h2>List of heroes</h2><ul>
   <li *ngFor="let hero of listObservable | async">
   <button class="btn btn-info">{{ hero.name}}</button>
  </li>
</ul>


<div class="row">
  <div class="col-8 offset-2">
      <table class="table table-striped ">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Super Power</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let hero of listObservable | async">
                  <td>{{ hero.id }}</td>
                  <td>{{ hero.name }}</td>
                  <td>{{ hero.address }}</td>
                  <td>{{ hero.superpower }}</td>
                  <td>
                      <button class="btn btn-info">details</button>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>-->